/*Benefits Section*/


.benefits {
  height: 100%;
  display: flex;
  margin-right: 48px;
  margin-left: 48px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.benefits h2{
  font-size: 32px;
  color: #3C5BA9;
}


.benefits h3{
  font-size: 32px;
  margin-bottom: 12px;
  color: #3C5BA9;
}
.benefits img {
  height: 80vh;
  margin-right: 60px;
  margin-left: 60px;
}
.feature-text{
  text-align: left;
}
.feature1-benefits {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.feature2-benefits {
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.feature3-benefits {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width:576px) {

  .benefits img {
    height: 50vh;
  }
  .feature-text{
    text-align: center;
  }
  .benefits h3  {
    font-size: 28px;
  }
  .feature1-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feature2-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feature3-benefits{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/*About The App Section*/

.about-the-app
{
  position: relative;
  padding-top: 5px;
}

.about-the-app>div.video
{
  display: flex;
  justify-items: center;
}

.video-information-app p
{
  padding: 0;
}

.video-information-app
{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  color: #444748;
}

.download-app
{
  cursor: pointer;
}

.download-app a:hover
{
  border: none;
}

.download-app .download-play-store img
{
  margin-bottom: 10px;
}

.download-app img
{
  width: 150px;
  height: 50px;
  box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.81);
  -webkit-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.81);
  -moz-box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.81);;
}

@media (max-width: 900px) {
  .about-the-app>div {
    flex-direction: column;
    justify-content: center;
  }

  .video-information-app
  {
    margin-top: 20px;
  }
}